input, label{
    display: block;
}

.slider{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}
h1{
    margin: 50px auto;
    text-align: center;
}
form{
    width: fit-content;
    margin: auto;
}