h1{
    margin: 25px auto;
    text-align: center;
    color:#2c406b;
}
.content{
    width: fit-content;
    margin: auto;
    padding:10px
}
body{
    background-color: #C9D0DE;
}
.content{
    background-color: rgba(255,255,255,0);
}

/*form styling*/
form{
    background-color: #98a4bc;
    border-radius: 25px;
    padding: 10px;
}
.conversion{
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
    width: fit-content;
    margin-bottom: 50px;
    border-radius: 5px;
}
label, input, select{
    margin-bottom: 10px;
}
input, label{
    display: block;
}
.slider{
    display: flex;
    justify-content: space-between;
    width: 180px;
}
#tip-slider{
    padding: 0;
    margin: 0;
}