h1,h3{
    text-align: center;
}
h1{
    margin: 25px auto 15px auto;
    text-align: center;
    color:#2c406b;
    font-family: 'Jaldi';
    font-weight: 700;
    font-size: 48px;
}
p, h3{
    margin: 0;
    font-size: 14px;
}
.content{
    width: fit-content;
    margin: auto;
    padding:10px;
}
body{
    background-color: #C9D0DE;
    color:#161616e6;
}
.content{
    background-color: rgba(255,255,255,0);
}

/*conversion chart*/
.conversion{
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
    width: fit-content;
    margin: 0 auto 30px auto;
    border-radius: 5px;
    line-height: 24px;
    color:#161616ca;
}

/*form styling*/
form{
    background-color: #98a4bc;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 35px;
    font-family:'Nunito';
    font-weight: bold;
    
}
label{
    margin: 10px 0;
    padding: 5px 0;
    font-size: 18px;
}
input, label{
    display: block;
}
input, select{
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
#bill, select{
    border: none;
}
#bill:hover, select:hover{
    border: 3px solid #2c406bc1;
}
#bill{
    width: 95%;
}
.slider{
    display: flex;
    justify-content: space-between;
    width: 180px;
}
#tip-slider{
    padding: 0;
    margin: 0;
}
.display-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disabled{
    height: fit-content;
    width: 85%;
}
.currency-symbol{
    padding: 0;
    margin: 0;
}

/*large screen styling*/
@media screen and (min-width: 768px) {
    #title{
        text-align: center;
    }
    h1{
        margin: 55px auto 25px auto;
        font-size: 52px;
    }
    .conversion{
        width: fit-content;
        margin: 0;
        line-height: 34px;
        height: fit-content;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
    .content{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    form{
        order: 0;
        width: 500px;
    }
    .conversion{
        order: 1;
    }
    .slider{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
    }
    #tip-slider{
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 80%; /* Full-width */
        height: 10px; /* Specified height */
        outline: none; 
        cursor: pointer;
    }
}
